extends ../layout/base

block content
    .containernotfound(style="height:100vh;background-color:black;display:flex;justify-content:center;align-content:center;align-items:center")
        h1(style="color:red;font-size:3rem") NOT FOUND D:
